
*{
    border: 1px solid red
}
.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 1280px;
}

.title > .top-menu{
    display: flex;
    justify-content: flex-end; /*가로 정렬*/
    margin: 5px 5px;
    padding: 5px 5px;
}

.logo{
    display: flex;
    justify-content: flex-end; /*가로 정렬*/
}
.title > .logo > .title-logo{
    color: blue;
}
.title > .logo{
    font-size: 30px;
    margin: 20px ; padding: 10px;
}
.menu-list{
    margin: 5px 5px;
    padding: 5px 5px;
}
#main-img > img{
    width: 100%;
}
#content{
    display: flex;
    margin: 0 auto;
    width: 1280px;
}
