* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    letter-spacing: -0.75px;
}

.page-title {
    position: relative;
    margin-top: 50px;
}

.page-title-header{
    padding: 20px;
}

.depth-area {
    position: absolute;
    right: 0;
    top: 16px;
}

.inner-box {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

.menu-nav-wrap{
    position: relative;
    margin-top: 28px;
    padding-bottom: 15px;
    border-bottom: 2px solid #111;
}

.menu-nav-wrap ul{
    display: flex;
}
.menu-nav>ul>li {
    list-style: none;
    display: inline-block;
    padding: 20px;
}

.dominocon-guide {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #eee;
}

.dominocon-img{
    padding-right: 40px;
}

.dominocon-guide .dominocon-img img {
    width: 123px;
    border: 0;
}

.menu-list.ect-type > ul{
    display: flex;
}

.prd-list-rgt{
    list-style: none;
    width: 276px;
    height: 327px;
}


.product-card {
    width: 200px;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}


.product-details {
    padding: 10px;
    font-size: 14px;
}

.product-details .title {
    margin-bottom: 5px;
}

.product-details .price {
    font-weight: bold;
}

.quantity-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.quantity-container button {
    width: 30px;
    height: 30px;
    font-size: 18px;
    border: 1px solid #ccc;
    background: #fff;
    cursor: pointer;
}

.quantity-container input {
    width: 40px;
    height: 30px;
    text-align: center;
    border: 1px solid #ccc;
    border-left: none;
    border-right: none;
}

.add-button {
    margin-top: 10px;
    width: 100%;
    background-color: #f73357;
    color: white;
    border: none;
    padding: 8px 0;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.menu-list.ect-type{
    padding-top: 50px;
}
.menu-list{
    margin-bottom: 80px;
}

.menu-list.ect-type ul{
    width: 100%;
    padding: 0;
    font-size: 0;
    vertical-align: top;
}

.menu-list.ect-type li{
    position: relative;
    display: inline-block;
}

img{
    border: 0;
    vertical-align: top;
    width: 100%;
}