/*
background-color : ; 배경색

text-align : center ; 가운데 정렬 
( text , img , input , audio ) 마크업은 됨
( div ) 안됨

border-radius : 00px ; 둥근 모서리

width : 000px; 사이즈
*body에 text-align : center ; 때문에 헷갈릴 수 있음
기본값 100%라 magin : 0 auto; 넣어줘야
사이즈에 맞는 정렬 가능

font-weight : bold; 글꼴 진하게

width : ; , height : ; 가로 세로 크기
border-radius : 00px ; * 정사각형 만들고 둥근모서리 하면 원형 가능

<a> </a> 는 일반적으로 a태그 링크 기능 목적으로 CSS 기본값 제거

text-docoration : none; 밑줄 제거

*/